input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 5px;
}

input:focus {
  background-color: #f7dc6f;
  border: 2px solid #f1c40f;
}

#json-table table {
  width: 100%;
  border-collapse: collapse;
}

#json-table th,
#json-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

#json-table th {
  background-color: #f2f2f2;
}
