.card {
	height: 100%;
}

.card-img-top {
	height: 150px;
	object-fit: cover;
}

.card-body {
	position: relative;
}

.form-check {
	position: absolute;
	bottom: 5px;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

.card-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #333;
}

.search-result {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

.word {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 5px;
}

.pronounciation {
	font-size: 14px;
	color: #aaa;
	margin-bottom: 10px;
}

.meaning {
	flex: 1;
	font-size: 16px;
	line-height: 1.4;
	margin-right: 20px;
}

.totals {
	display: flex;
	margin-top: 10px;
}

.attempts,
.checks {
	flex: 1;
	font-size: 14px;
	color: #555;
}

.attempts {
	margin-right: 10px;
}
