body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
th {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.terminal {
  margin-top: 20px;
}
#message {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}
#vocab-table tfoot {
  background-color: #f5f5f5;
}

#vocab-table tfoot td {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#total-checks -sum {
  color: #337ab7;
}

#total-correct {
  color: #5cb85c;
}

th i.fa-bookmark {
  color: green;
}

#word {
  font-size: 16pt;
  font-weight: bold;
  color: #5cb85c;
}

/* #vocab-table td {
	vertical-align: top;
	padding: 10px;
	border: 1px solid #ddd;
} */
img,
svg {
  vertical-align: middle;
  width: 300px !important;
  height: 150px !important;
}
.form-check-inline {
  display: inline-block;
  margin-right: 10px; /* Tùy chỉnh khoảng cách giữa các phần tử */
}
