<div class="col">
	<div class="card">
		{% if image_url %}
		<img src="{{ image_url }}" class="card-img-top" alt="..." />
		{% else %} {% load static %}
		<img src="{% static 'images/default-topic.jpg' %}" class="card-img-top" alt="Default image" />
		{% endif %}
		<div class="card-body">
			<h5 class="card-title"><input type="checkbox" name="topic-choice" class="form-check-input" id="{{id}}" /> {{ title }}</h5>
			<p style="font-size: 14px; margin: 0 0 8px 0">
				<i class="fas fa-list" style="color: #2ecc71" title="Totals"></i> <span style="color: #2ecc71">{{totals}}</span>
				<i class="fas fa-keyboard" style="color: #3498db" title="Typings"></i> <span style="color: #3498db">{{typings}}</span>
				<i class="fas fa-star" style="color: #f1c40f" title="Reviews"></i> <span style="color: #f1c40f">{{reviews}}</span>
			</p>
			<input type="hidden" class="topic-index" value="{{index}}" />
			<p class="card-text topic-description">{{ description }}</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary btn-sm float-end detail-button" title="Detail"><i class="fas fa-info-circle"></i></a>
			<a href="{{id}}" class="btn btn-primary btn-sm float-end vocabularies-button" title="Vocabularies"><i class="fas fa-book"></i></a>
			<a href="#" class="btn btn-primary btn-sm float-end grammars-button" title="Grammars"><i class="fas fa-graduation-cap"></i></a>
			<a href="#" class="btn btn-primary btn-sm float-end exercises-button" title="Exercises"><i class="fas fa-tasks"></i></a>
			<a href="#" class="btn btn-primary btn-sm float-end documentations-button" title="Documentations" class=""><i class="fas fa-file-alt"></i></a>
			<a href="#" class="btn btn-primary btn-sm float-end edit-button" title="Edit"><i class="fas fa-edit"></i></a>
			<a href="#" class="btn btn-danger btn-sm float-end delete-button" title="Delete"><i class="fas fa-trash"></i></a>
		</div>
	</div>
</div>
