<div class="col">
	<div class="card">
		{% if image_url %}
		<img src="{{ image_url }}" class="card-img-top" alt="..." />
		{% else %} {% load static %}
		<img src="{% static 'images/default-image.png' %}" class="card-img-top" alt="Default image" />
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">{{ title }}</h5>
			<p class="card-text">{{ description }}</p>
			<a href="{{id}}" class="btn btn-primary">Vocabularies</a>
			<a href="study/{{id}}" class="btn btn-primary">Study</a>
		</div>
	</div>
</div>
