{% extends 'base.html' %} {% block include %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/add.css' %}" />
{% endblock %} {% block content %}
<h1>{{topic.name}}</h1>
{% include 'modals.html' %}
<div class="container">
	<form method="post">
		<div class="buttons-global">
			<button id="save-table" class="btn btn-primary" type="submit">Save</button>
			<button type="button" id="import-excel" class="btn btn-primary d-inline-block btn-import-excel">Import Excel</button>
			<button type="button" id="import-json" class="btn btn-primary d-inline-block btn-import-json">Import Json</button>
		</div>

		{% csrf_token %} {{ formset.management_form }}
		<table id="vocab-table" class="table table-bordered border-primary">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Từ gốc</th>
					<th scope="col">Phiên âm</th>
					<th scope="col">Nghĩa</th>
					<th scope="col">Hình ảnh</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for form in formset %} {% with index=forloop.counter %}
				<tr>
					<th class="index">{{ index }}</th>
					<td>{{ form.word }}</td>
					<td>{{ form.pronunciation }}</td>
					<td>{{ form.meaning }}</td>
					<td>{{ form.image_url }}</td>
					<td>
						{% if form.id.value %}
						<input type="hidden" name="{{ form.prefix }}-id" value="{{ form.id.value }}" />
						{% endif %}
						<i class="fa fa-times remove-row"></i>
					</td>
				</tr>
				{% endwith %} {% endfor %}
			</tbody>
		</table>
		<button id="add-row" class="btn btn-primary" type="button" data-formset="{{ formset.prefix }}">Add</button>
	</form>
</div>

{% endblock %} {% block scripts %}
<script src="{% static 'js/add.js' %}"></script>

{% endblock %}
